doctype html
html(lang="ru")
	include layouts/head.pug
	body
		include layouts/header.pug
		include pages/index.pug
		include layouts/footer.pug
		include layouts/modal.pug
		//build:js
		script(src="js/scripts.js")
		//endbuild


